<div class="table-responsive">
    <table class="table b-table table-bordered table-sm table-fit">
        <thead class="thead-dark text-nowrap">
            <tr>
                <th>Parent assembly</th>
                <th>Part number</th>
                <th>Part name</th>
                <th>Supplier</th>
                <th>File type</th>
                <th>Type</th>
                <th>Qty.</th>
                <th>Sets</th>
                <th>To order</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>M-2022-00 Layout</td>
                <td>M-2022-01-00</td>
                <td>Assembly module</td>
                <td></td>
                <td>assembly</td>
                <td>production</td>
                <td>3</td>
                <td>1</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>M-2022-01-01</td>
                <td>Cover</td>
                <td></td>
                <td>part</td>
                <td>production</td>
                <td>2</td>
                <td>3</td>
                <td>6</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>M-2022-01-02</td>
                <td>Holder</td>
                <td></td>
                <td>part</td>
                <td>production</td>
                <td>5</td>
                <td>3</td>
                <td>15</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>M-2022-01-03</td>
                <td>Bracket</td>
                <td></td>
                <td>part</td>
                <td>production</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>M-2022-01-04</td>
                <td>Plate</td>
                <td></td>
                <td>part</td>
                <td>production</td>
                <td>3</td>
                <td>3</td>
                <td>9</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>M-2022-01-05</td>
                <td>Guide</td>
                <td></td>
                <td>part</td>
                <td>production</td>
                <td>5</td>
                <td>3</td>
                <td>15</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>193 138</td>
                <td>Non-return valve GRLA</td>
                <td>Festo</td>
                <td>part</td>
                <td>purchased</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>193 138</td>
                <td>Some junkie part</td>
                <td>Inside Festo GRLA</td>
                <td>None</td>
                <td>part</td>
                <td>junk</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>193 138</td>
                <td>Some other junkie part</td>
                <td>Inside Festo GRLA</td>
                <td>None</td>
                <td>part</td>
                <td>junk</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>424021 CFH.50 CH-6</td>
                <td>Hinges</td>
                <td>Elesa Ganter</td>
                <td>part</td>
                <td>purchased</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>513011</td>
                <td>Levelling elements</td>
                <td>Elesa Ganter</td>
                <td>part</td>
                <td>purchased</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>BES01PF</td>
                <td>Proximity switch</td>
                <td>Balluff</td>
                <td>part</td>
                <td>purchased</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>KM 10</td>
                <td>Lock nut M10x1</td>
                <td>Ace</td>
                <td>part</td>
                <td>purchased</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>KS 10</td>
                <td>Switch head</td>
                <td>Ace</td>
                <td>part</td>
                <td>purchased</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>LHBBW20</td>
                <td>Linear guide</td>
                <td>Misumi</td>
                <td>part</td>
                <td>purchased</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>DIN 125 - A 6.4</td>
                <td>Washer</td>
                <td>Norelem</td>
                <td>part</td>
                <td>fastener</td>
                <td>6</td>
                <td>3</td>
                <td>18</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>DIN 125 - A 8.5</td>
                <td>Washer</td>
                <td>Norelem</td>
                <td>part</td>
                <td>fastener</td>
                <td>4</td>
                <td>3</td>
                <td>12</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>DIN 912 M4 x 16</td>
                <td>Hexagon head screws</td>
                <td>Norelem</td>
                <td>part</td>
                <td>fastener</td>
                <td>1</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>DIN 912 M6 x 10</td>
                <td>Hexagon head screws</td>
                <td>Norelem</td>
                <td>part</td>
                <td>fastener</td>
                <td>3</td>
                <td>3</td>
                <td>9</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>DIN 912 M6 x 10</td>
                <td>Hexagon head screws</td>
                <td>Norelem</td>
                <td>part</td>
                <td>fastener</td>
                <td>2</td>
                <td>3</td>
                <td>6</td>
            </tr>
            <tr>
                <td>M-2022-01-00</td>
                <td>DIN 912 M8 x 10</td>
                <td>Hexagon head screws</td>
                <td>Norelem</td>
                <td>part</td>
                <td>fastener</td>
                <td>4</td>
                <td>3</td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
</div>